!!!5
%html
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %title Orbits
    %link{rel: 'icon', href:'/images/favicon.png', type: 'image/png'}
    %link{rel:'stylesheet', type:'text/css', href:'/stylesheets/css/screen.css'}
    %script{src: '/javascripts/jquery-and-knockout.js'}
    %script{src: '/javascripts/heroViewModel.js'}

  %body
    / = haml :'_links'


    .hero.fight-stance
      .torso
        .neck
          .head
        .shoulders
          - sides.each do |side|
            .shoulder{class: side}
              .arm-upper{class: side}
                .elbow{class: side}
                  .forearm{class: side}
        .hips
          - sides.each do |side|
            .hip{class: side}
              .femur{class: side}
                .knee{class: side}
                  .shin{class: side}
